*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -----------header--------------- */

header{
    display: inline-flex;
}
/* header logo */

.logosena{
    width: 10%; 
    padding:5px;
}

.logosena2{
    width: 100%;
}

.logocostud{
    width: 10%; 
    
}

.logocostud2{
    width: 100%;
}


.iniciarsesion{
    padding:20px;
    color: #238276;
    background: white;
    font-size: 15px;
}

.contenopc{
    display: block;
    background: cadetblue;
    width: 80%;
    margin-left: 1%;
  
}

a{
    text-decoration: none;
    text-transform: none;
}

/* -------------iniciar sesion ----------------*/
.iniciarsesionI{
    color: #238276;
}

.iniciarsesionI:hover{
   
    border-bottom: 1px solid green;
}

/* --------opciones ------ */
.opciones ul{
    padding:20px;
    width: 100%;
    display: inline-flex;
}
.opciones ul li{
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    padding:10px;
    width: 25%;
}

.opciones ul li a{
    text-align: center;
    color: black;

    cursor: pointer;
}

.opciones ul li a:hover{
    color: white;
    cursor: pointer;
}

/* ------------------PAGINAS DE LADO IZQUIERDO------------------------- */

.paginas{
    display: inline-block;    
    position: relative;
    margin-top: 1%;
}

main{
    display: flex;
  
}

/* contenedor */
.contenedor{

    border: 1px solid rgba(77, 60, 60, 0.425);
    width: 80%;
    margin: 15px;
    margin-left: 6%;
    border-radius: 10px;
    
}

/* CONTENEDOR GENERAL CON LOS PROGRAMADORES */
.titulogen{
  
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}


/* IMAGENDE NUESTRA HISTORIA */
/* content */
.imgnuestra{
    padding: 10px;
}


.contentNuestaHistoria{
    border: 1px solid rgba(82, 80, 80, 0.315);
    display: grid;
    grid-template-columns: 20% 80%;
}




.mincontentNuestra{
   
    display: grid;
    grid-template-columns: 1fr;
}

/* tituloNuestraHistoria */
.tituloNuestraHistoria{
    margin-top: 5px;
    text-align: center;
    color: #ff6712;
    font-size: 20px;
}

/* titlulo programadores */
.titulosprogramadores{
   
    text-align: center;
    font-size: 30px;
}

.sapoteti{
    width: 55%;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 30px;
}

.sapoteti b{
    color: #ff6712;
}


/* contenedor de las fotos */
.fotosProgramadores{
    
    width: 90%;
    margin: 0 auto;
  
}

/* seccion donde van las fotos */


.linea1{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imagenProgramador{
    width: 160px;
    border-radius: 10px;
}

.user1,.user2,.user3,.user4,.user5{
    
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  
    text-align: center;
}

.user2{
    margin-top: 20px;
}

.user3{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.user5{
    margin-top: 5px;
}

.linea2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

/* nombres y cargos */

.nombreP{
  
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
   
}

.nombreP:hover{
    color: #ff6712;
}

.nombreCar{
    font-size: 15px;
}


.linea3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


/* seccion de fotos */
/* .cajapri{
   
} */

.cajasecun{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}



/*---------------- footer-------------------- */
.footer{
    display: inline-flex;
    width: 100%;
    background-color: #5eb318;

    bottom: 0;
    color: white;
}


.imgcostudpie{
 width: 10%;
 height: auto;
}

.info{
    width: 80%;
    margin-top: 0.5%;
}

.logosenapie{
    width: 10%;
}

.contentinfo{

    width: 40%;
    margin:0 auto;
}

/*--------------responsive---------------*/
@media only screen and (max-width: 600px) {

    .logosena{
        width: 65px; 
        padding:3px;
    }
    .logocostud{
        width: 65px;
        padding: 3px; 
        
    }
    .opciones ul{
        padding:20px;
        width: 95%;
        display: inline-flex;
    }
    .opciones ul li{
        list-style-type: none;
        font-size: 18px;
        text-align: center;
        padding:10px;
        width: 24%;
    }
    .paginas{
        width: 20%;
    }
    .contenedor{
        border: 1px solid rgba(77, 60, 60, 0.425);
        width: 100%;
        margin: 8px;
        padding: 10px;
        margin-left: -6%;
        border-radius: 10px;
    }
    .titulogen{
  
        text-align: center;
        font-size: 28px;
        margin-bottom: 10px;
    }
    .imgnuestra{
        margin-top: 35%;
    }
    .tituloNuestraHistoria{
        margin-top: 5px;
        text-align: center;
        color: #ff6712;
        font-size: 17px;
    }
    .titulosprogramadores{
   
        text-align: center;
        font-size: 28px;
    }
    .sapoteti{
        width: 70%;
        margin: 0 auto;
        font-size: 17px;
        margin-bottom: 30px;
    }
    .programadoresH{
        width: 100%;
        padding: 10px;
    }
}