*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*----------------- div general---------------------- */
.general{
    display: flex;
    width: 100%;
    height: 100vh;
}
/*----------------- div de informacion del instructor----------- */
.informacion{
    width: 50%;
    background-color:#e7dbcb;
}
.logos{
    width: 50%;
    display: flex;
    padding: 5%;
    margin-left: 25%;
    height: 30%;
}
.logo_em{
    width: 50%;
    height: 100%;
}
.logo_se{
    width: 50%;
    height: 100%;
}
/* -----------------informacion del instructor---------------- */
.instru{
    width: 90%;
    margin-left: 5%;
    padding: 2%;
    display: flex;
    height: 30%;
}
.foto{
    width: 40%;
    height: 100%;
}
.foto img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.inf{
    padding: 3%;
    width: 70%;
    height: 30%;
}
.inf h1{
    text-align: center;
}
.inf h4{
    margin-left: 10%;
    padding: 2%;
    text-transform: uppercase;
}
/* ---------------botones de editar y cerrar ---------------*/
.acciones{
    width: 90%;
    margin-left: 5%;
    min-height: 30vh;
    padding: 4%;
}
.editar{
    margin-top: 5%;
    width: 90%;
    height: 8vh;
    margin-left: 5%;
    background-color: #ff8000;
    border: none;
}
.acciones a{
    text-decoration: none;
    color: white;
    font-size: 3vh;
}
.acciones a:hover{
    color: blanchedalmond;
}
.Cerrar{
    margin-top: 5%;
    width: 90%;
    height: 8vh;
    margin-left: 5%;
    background-color: #ff8000;
    border: none;
    font-size: 3vh;
}

/*-------------------- parte derecha--------------------- */
.opciones{
    width: 50%;
    background-color: rgb(124, 214, 204);
    height: 100vh;
}
/*-------------- prestamos--------------- */
.uno{
    background-color: black;
    width: 100%;
    height: 33vh;
}
.logo_pre{
    width: 90%;
    height: 100%;
    cursor: pointer;
}
/*-------------- devoluciones--------------- */
.dos{
    background-color: rgb(78, 78, 78);
    width: 100%;
    height: 33vh;
}
.logo_de{
    width: 90%;
    height: 100%;
    cursor: pointer;
}
/*-------------- pendientes--------------- */
.tres{
    background-color: rgb(199, 198, 198);
    width: 100%;
    height: 34vh;
    display: flex;
}
/*-------------- prestamos pendientes--------------- */
.cuatro{
    width: 45%;
    height: 100%;
    cursor: pointer;
}
/*-------------- devoluciones pendientes--------------- */
.cinco{
    width: 138%;
    height: 100%;
    cursor: pointer;
}

/*Container para editar usuario*/
.containerEditarInfo{
    margin-top: -46%;
    background-color: #707c7e80;
    position: absolute;
    display: none;
    width: 100%;
    height: 101.9vh;
}
.content_general_form{    
    border: 1px solid rgba(66, 63, 63, 0.315);
    border-radius: 10px;
    background-color: #ff6212;
    margin: 0 auto;
    width: 60%;
    margin-top: 15%;
    
}

.content_general_form > h1{
    text-align: center;
    margin-top: 15px;
}
/*------------------ ventana prestamos----------------------------- */
#ventana_one{
    display: none;
    width: 100%;
    height: 100vh;
    background-color:#707c7e80;
    margin-top: -100vh;
    position: absolute;
}
.primeraSeccionFechas{
    border: 1px solid rgb(0, 255, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

}

.hours{
   margin-left: 100%;
    margin-top: -11%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.contentIngresoDeInsumos{
    display: block;
    text-align: center;
    width: 90%;
    height: auto;
    border-radius: 10PX;
    background-color: white;
    margin: 5% 5%;
    margin-top: 3%;
    padding: 4%;
}
.formu_presta{
    margin-top: 1%;
    background-color: #ff8000;
    padding: 5%;
}
.cerrar1 a i{
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -4%;
    margin-left: 100px;
    margin-right: 10px;
}
/*inputs del formulario de solicitud de prestamos*/
.categ{
    outline: none;
    padding: 5px;
    width: 85%; 
}
.categoriass{
    margin-left: 8%;
    position: absolute;
}
.prestamo{
    outline: none;
    padding: 5px;
    width: 100%; 
}
.nom_cant_categoria{
    width: 100%;
}
.nom_categoria{
    position: absolute;
    margin-left: 30%;
}
.cant_pres{
    outline: none;
    padding: 3px;
    width: 70%;
}
.cant_prestamo{
    position: absolute;   
    margin-left: 50%;
}
.btn_agregar{
    outline: none;
    padding: 3px;
    position: absolute;
    margin-left: 30%;
    margin-top: 5%;
}
.tablaInfo{
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    font-weight: bold; 
    overflow-y: scroll;
}
.tab_ml, tr, td, .agregado{
    border: 1px solid #fff;
    padding: 1%; 
}
.enviar_solic{
    display: inline-flex;
    margin-top: 3%;
    
}
#solicitar_prest{
    margin-top: 6%;
    margin-right: 25%;
    padding: 3px;
}
#btn_cancelar_material{
    padding: 3px;
    margin: 5%;
}
/* .pet_pres{
    margin-top: -3%;
    font-size: 25px;
}
.nome{
    margin: auto;
}
.btn_agre{
    margin-top: 29%;
    margin-left: 55%;
}
.input_nam{
    width: 160%;
    margin: auto;
}
.canti{
    margin-left: 22%;
}
.categorias{
    margin-bottom: 3%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 3% 20%;
}
.agregarTodosLosListados{
    border: 1px solid black;
    background-color: #ede4e4;
    padding: 10px;
}
/*Estilos para la tabla de prestamos agregados*/
/* .tabla_info{
    margin-left: 23%;
    width: 50%;
    font-weight: bold;
}
.tab_ml, .agregado{
    border: 1px solid #ff8000;
} */ 

/*------------------ ventana devoluciones----------------------------- */
.ventana_two{
    width: 100%;
    height: 100vh;
    background-color: #707c7e80;
    margin-top: -100vh;
    position: absolute;
    display: none;
}
.primeraSeccionFechasDev{
    border: 1px solid rgb(0, 255, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.contentIngresoDeDevoluciones{
    display: block;
    text-align: center;
    width: 90%;
    height: auto;
    border-radius: 10PX;
    background-color: white;
    margin: 5% 5%;
    margin-top: 3%;
    padding: 4%;
}
.formulario_devol{
    margin-top: 1%;
    background-color: #ff8000;
    padding: 5%; 
}
.cerrar2 a i{
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -4%;
    margin-left: 100px;
    margin-right: 10px;
}

/*input del formulario para devolucion de material*/
.cate_dev{
    outline: none;
    padding: 5px;
    width: 85%;
}
.cate_de{
    margin-left: 8%;
    position: absolute;
}
.devolucion{
    outline: none;
    padding: 5px;
    width: 100%;
}
.nom_cate_dev{
    width: 100%; 
}
.nom_devol{
    position: absolute;
    margin-left: 29%;
}
.cant_devol{
    outline: none;
    padding: 3px;
    width: 70%;
}
.can_de{
    position: absolute;
    
    margin-left: 44%; 
}
.agre_devo{
    outline: none;
    padding: 3px;
    position: absolute;
    margin-left: 30%;
    margin-top: 5%;
}
.tabla_devol{
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    font-weight: bold; 
    overflow-y: scroll;
}
.tabl_ml, tr, td, .ver_devol{
    border: 1px solid #fff;
    padding: 1%; 
} 
.enviar_devolucion{
    display: inline-flex;
    margin-top: 3%;   
}
#devolver_insu{
    margin-top: 6%;
    margin-right: 25%;
    padding: 3px;
}
#cancelar_insumo{
    padding: 3px;
    margin: 5%; 
}


/*.contentIngresoDeDevoluciones{
    display: block;
    text-align: center;
    width: 90%;
    height: auto;
    border-radius: 10PX;
    background-color: white;
    margin: 5% 5%;
    margin-top: 100px;
    padding: 4%;
}
.formu_dev{
    margin-top: 1%;
    background-color: #ff8000;
    padding: 5%;
}

.pet_dev{
    margin-top: -3%;
    font-size: 25px;
}
.nome_dev{
    margin: auto;
}
.btn_dev{
    margin-top: 29%;
    margin-left: 55%;
}
.input_dev{
    width: 160%;
    margin: auto;
}
.canti_dev{
    margin-left: 22%;
}
.categorias_dev{
    margin-bottom: 3%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 3% 20%;
}
.agregarTodosLosListadosDev{
    border: 1px solid black;
    background-color: #ede4e4;
    padding: 10px;
}
/*Estilos para la tabla de prestamos agregados*/
/* .tabla_dev{
    margin-left: 23%;
    width: 50%;
    font-weight: bold;
}
.tab_ml, .agregado{
    border: 1px solid #ff8000;
} */ 

/*------------------ ventana prestamos pendientes----------------------------- */
.ventana_tres{
    width: 100%;
    height: 100vh;
    background-color: #707c7e80;
    margin-top: -100vh;
    position: absolute;
    display: none;
}
.contentPrestamosPendientes{
    display: block;
    text-align: center;
    width: 90%;
    height: auto;
    border-radius: 10PX;
    background-color: white;
    margin: 5% 5%;
    margin-top: 3%;
    padding: 4%;
}
.cerrar3 a i{
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -4%;
    margin-left: 100px;
    margin-right: 10px;
}
/*------------------ ventana devoluciones pendientes----------------------------- */
.ventana_cuatro{
    width: 100%;
    height: 100vh;
    background-color: #707c7e80;
    margin-top: -100vh;
    position: absolute;
    display: none;
}
.contentDevolucionesPendientes{
    display: block;
    text-align: center;
    width: 90%;
    height: auto;
    border-radius: 10PX;
    background-color: white;
    margin: 5% 5%;
    margin-top: 3%;
    padding: 4%;
}
.cerrar4 a i{
    font-size: 40px;
    color: red;
    float: right;
    margin-top: -4%;
    margin-left: 100px;
    margin-right: 10px;
}
.pendi{
    margin-top: 1%;
    background-color: #ff8000;
    padding: 5%;
}
.tabla_pend{
    margin-top: -2%;
    margin-left: 15%;
    width: 70%;
    font-weight: bold; 
    overflow-y: scroll;
}
.dad_ml, td, tr, .visual{
    border: 1px solid #fff;
    padding: 1%; 
}

/*Responsive Para Blackberry PlayBook*/
/* @media only screen and (min-width: 600px) {
    .general{
        margin-top: -11%;
        width: 70%;
        height: 80vh;
        display: block;
    }
    .informacion{
        width: 75%;
        background-color:#e7dbcb;
    }
    .logos{
        margin-top: 20%;
        width: 90%;
        margin-left: 8%;
        height: 73%;
        display: block;
    }
    .logo_em{
        width: 50%;
        height: 100%;
    }
    .logo_se{
        margin-top: -48%;
        margin-left: 52%;
        width: 50%;
        height: 100%;
        display: flex;
    }
    .instru{
        margin-top: 13%;
        width: 75%;
        margin-left: 1%;
        padding: 1%;    
        height: 30%;
    }
    .foto{
        margin-top: 50px;
        width: 70%;
        height: 90%;
    }
    .foto img{
        width: 110%;
        height: 60%;
        border-radius: 50%;
    }
    .inf{
        padding: 3%;
        width: 70%;
        height: 30%;
    }
    .inf h1{
        text-align: center;
        font-size: larger;
        margin-left: 8%;
    }
    .inf h4{
        margin-left: 8%;
        padding: 2%;
        text-transform: uppercase;
        font-size: 15px;
    }
    .acciones{
        width: 90%;
        margin-left: 5%;
        min-height: 30vh;
        padding: 4%;
    }
    .editar{
        margin-top: 10%;
        width: 50%;
        height: 5vh;
        margin-left: 25%;
        background-color: #ff8000;
        border: none;
    }
    .acciones a{
        text-decoration: none;
        color: white;
        font-size: 2vh;
    }
    .Cerrar{
        margin-top: 10%;
        width: 50%;
        height: 5vh;
        margin-left: 25%;
        background-color: #ff8000;
        border: none;
        font-size: 2vh;
    }
    .opciones{
        width: 67%;
        background-color: rgb(124, 214, 204);
        height: 85%;
        margin-left: 75%;
        margin-top: -180%;
        display: block;
    }
    .uno{
        background-color: black;
        width: 100%;
        height: 27vh;
    }
    .logo_pre{
        width: 90%;
        height: 100%;
        cursor: pointer;
    }
    .dos{
        background-color: rgb(78, 78, 78);
        width: 100%;
        height: 26vh;
    }
    .logo_de{
        width: 90%;
        height: 100%;
        cursor: pointer;
    }
    .tres{
        background-color: rgb(199, 198, 198);
        width: 100%;
        height: 21vh;
    }
    .cuatro{
        width: 50%;
        height: 100%;
        cursor: pointer;
    }
    .cinco{
        width: 50%;
        height: 21vh;
        cursor: pointer;
    }
}
/*Responsive Para Blackberry Z30, Galaxy Note3, Galaxy Note2, Galaxy S3, Microsoft Lumia 950, Moto G4, NEXUS 5, Galaxy S5*/
/* @media only screen and (max-width: 360px) {
    .general{
        border: 1px solid black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    } */ 
    /* .informacion{
        width: 30%;
        background-color:#e7dbcb;
    }
    .logos{
        margin-top: -10%;
        width: 10%;
        margin-left: 8%;
        height: 1%;
    }
    .instru{
        width: 95%;
        height: 30%;
    }
    .foto{
        margin-top: 13%;
        width: 40%;
        height: 120%;
    }
    .foto img{
        width: 90%;
        height: 50%;
        border-radius: 50%;
    }
    .inf{
        padding: 1%;
        width: 20%;
        height: 30%;
    }
    .inf h1{
        text-align: center;
        font-size: larger;
    }
    .inf h4{
        margin-left: 0%;
        padding: 1%;
        text-transform: uppercase;
        font-size: 12px;
    }
    .acciones{
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
        min-height: 10vh;
        padding: 6%;
        color: white;
    } */
    /* .opciones{
        width: 1%;
        background-color: rgb(124, 214, 204);
        height: 100vh;
        
    } */
    /* .uno{
        background-color: black;
        width: 1%;
        height: 33vh;
        
    } */
    /* .logo_pre{
        width: 9%;
        height: 100%;
        cursor: pointer;
        display: block;
    } */
    /*-------------- devoluciones--------------- */
    /* .dos{
        background-color: rgb(78, 78, 78);
        width: 1%;
        height: 33vh;
        display: block;
    } */
    /* .logo_de{
        width: 9%;
        height: 100%;
        cursor: pointer;
        display: block;
    } */
    /*-------------- pendientes--------------- */
    /* .tres{
        background-color: rgb(199, 198, 198);
        width: 1%;
        height: 34vh;
    } */
    /*-------------- prestamos pendientes--------------- */
    /* .cuatro{
        width: 45%;
        height: 100%;
        cursor: pointer;
        display: block;
    } */
    /*-------------- devoluciones pendientes--------------- */
    /* .cinco{
        width: 45%;
        height: 100%;
        cursor: pointer;
        display: block;
    }
} */
/*Responsive Para Nokia Lumia 520, IPhone 4, IPhone 5/SE*/
/* @media only screen and (max-width: 320px) {
    .general{
        width: 100%;
        height: 70vh;
    }
    .informacion{
        width: 100%;
        background-color:#e7dbcb;
    }
    .logos{
        width: 55%;
        padding: 1%;
        margin-left: 25%;
        height: 20%;
    }
    .instru{
        width: 95%;
        height: 30%;
    }
    .foto{
        margin-top: 13%;
        width: 40%;
        height: 120%;
    }
    .foto img{
        width: 90%;
        height: 50%;
        border-radius: 50%;
    }
    .inf{
        padding: 1%;
        width: 20%;
        height: 30%;
    }
    .inf h1{
        text-align: center;
        font-size: larger;
    }
    .inf h4{
        margin-left: 0%;
        padding: 1%;
        text-transform: uppercase;
        font-size: 12px;
    }
    .acciones{
        margin-top: 4%;
        width: 90%;
        margin-left: 5%;
        min-height: 10vh;
        padding: 6%;
        color: white;
    }
    .opciones{
        width: 100%;
        background-color: rgb(124, 214, 204);
        height: 100vh;
        margin-top: 146%;
        margin-left: -80%;
    }
} */
