*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*----------------- div general---------------------- */
.general{
    display: flex;
    width: 100%;
    height: 100vh;
}
/*----------------- div de informacion del instructor----------- */
.informacion{
    width: 50%;
    background-color:#c0c0c0;
}
.logos{
    width: 50%;
    display: flex;
    padding: 5%;
    margin-left: 25%;
    height: 20%;
}
.logo_em{
    width: 50%;
    height: 100%;
}
.logo_se{
    width: 50%;
    height: 100%;
}
/* -----------------informacion del instructor---------------- */
.instru{
    width: 90%;
    margin-left: 5%;
    padding: 2%;
    display: flex;
    height: 30%;
}
.foto{
    width: 40%;
    height: 100%;
}
.foto img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.inf{
    padding: 3%;
    width: 70%;
    height: 30%;
}
.inf h1{
    text-align: center;
}
.inf h4{
    margin-left: 10%;
    padding: 2%;
}
/* ---------------botones de editar y cerrar ---------------*/
.acciones{
    width: 90%;
    margin-left: 5%;
    min-height: 30vh;
    padding: 4%;
}
.editar{
    width: 90%;
    height: 10vh;
    margin-left: 5%;
    background-color: rgb(24, 130, 118);
    border: none;
}
.acciones a{
    text-decoration: none;
    color: black;
    font-size: 3vh;
}
.acciones a:hover{
    color: blanchedalmond;
}
.Cerrar{
    margin-top: 5%;
    width: 90%;
    height: 10vh;
    margin-left: 5%;
    background-color: rgb(24, 130, 118);
    border: none;
    font-size: 3vh;
}

/*-------------------- parte derecha--------------------- */
.opciones{
    width: 50%;
    background-color: rgb(124, 214, 204);
    height: 100vh;
}
/*-------------- prestamos--------------- */
.uno{
    background-color: black;
    width: 100%;
    height: 33vh;
}
.logo_pre{
    width: 90%;
    height: 100%;
    cursor: pointer;
}
/*-------------- devoluciones--------------- */
.dos{
    background-color: rgb(78, 78, 78);
    width: 100%;
    height: 33vh;
}
.logo_de{
    width: 90%;
    height: 100%;
    cursor: pointer;
}
/*-------------- pendientes--------------- */
.tres{
    background-color: rgb(199, 198, 198);
    width: 100%;
    height: 34vh;
    display: flex;
}
/*-------------- prestamos pendientes--------------- */
.cuatro{
    width: 45%;
    height: 100%;
    cursor: pointer;
}
/*-------------- devoluciones pendientes--------------- */
.cinco{
    width: 45%;
    height: 100%;
    cursor: pointer;
}
/*------------------ ventana prestamos----------------------------- */
.ventana_one{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,255,0,0.6);
    margin-top: -100vh;
    position: absolute;
}
/*------------------ ventana devoluciones----------------------------- */
.ventana_two{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,255,0.2);
    margin-top: -100vh;
    position: absolute;
    display: none;
}
/*------------------ ventana prestamos pendientes----------------------------- */
.ventana_tres{
    width: 100%;
    height: 100vh;
    background-color: rgba(255,0,0,0.2);
    margin-top: -100vh;
    position: absolute;
    display: none;
}
/*------------------ ventana devoluciones pendientes----------------------------- */
.ventana_cuatro{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,255,0,0.2);
    margin-top: -100vh;
    position: absolute;
    display: none;
}
